.title-with-button.mt-2
  %h1 Find a mission
  .mb-2
    = link_to_unless_current_with_block listings_path, class: "btn btn-secondary mr-1 #{'disabled' if current_page?(listings_path)}" do
      %i.fa.fa-list
      List view
    = link_to_unless_current_with_block map_listings_path, class: "btn btn-secondary #{'disabled' if current_page?(map_listings_path)}" do
      %i.fa.fa-map
      Map view

.mb-4
  %p.lead
    GoodGym missions coming up near you - meet others, get fit and do good.

  - if current_user.alerts.many?
    %ul.nav.nav-tabs.mb-1
      - current_user.alerts.each do |alert|
        %li.nav-item.text-center
          = link_to({ postcode: alert.postcode.to_s, radius: alert.radius }, class: "nav-link #{'active' if alert.postcode == postcode}") do
            Near #{alert.location}

  = form_tag(nil, method: :get) do |f|
    .d-flex.align-items-center
      %div
        = number_field_tag :radius, radius, class: "form-control w-auto", min: 2.0, max: 50.0
      %span.flex-shrink-0.mr-1 &nbsp; km from
      .d-flex.align-items-end.input-group
        = text_field_tag :postcode, postcode, class: "form-control", placeholder: "Postcode"
        .input-group-append
          %button.btn.btn-secondary
            %i.fa.fa-search
