.container
  .title-with-button.mt-2
    %h1 Find a mission

  .mb-4
    %p.lead
      GoodGym missions coming up near you - meet others, get fit and do good.
    = form_tag(nil, method: :get) do |f|
      .d-flex.align-items-center
        %div
          = number_field_tag :radius, radius, class: "form-control w-auto", min: 2, max: 50
        %span.flex-shrink-0.mr-1 &nbsp; km from
        .d-flex.align-items-end.input-group
          = text_field_tag :postcode, postcode, class: "form-control", placeholder: "Postcode"
          .input-group-append
            %button.btn.btn-secondary
              %i.fa.fa-search

.bg-light.pt-2
  .container
    - if @referrals_by_day.none?
      %h3 No missions found.
      - nearby_referrals = Referral.near(postcode, radius * 2).count("*")
      - if nearby_referrals.positive?
        %p.lead
          Can you run a little further? There are #{nearby_referrals} missions available if
          = link_to("you search for missions further away.", { radius: radius * 2 })

    - @referrals_by_day.each do |date, referrals|
      .mb-4
        %h3.mb-2
          %strong.text-uppercase= date.to_s(:wday_long_ordinal)

        .list-group.mb-4
          = render partial: "referrals/public_referral", collection: referrals, locals: { date: date }
