.container
  .title-with-button.mt-2
    %h1 Missions

  %p.lead
    GoodGym missions coming up near you - meet others, get fit and do good.
  = form_tag(nil, method: :get) do |f|
    .d-flex.align-items-end
      %div
        = number_field_tag :radius, radius, class: "form-control w-auto", min: 2, max: 50
      %span.flex-shrink-0.mr-1 &nbsp; km from
      .d-flex.align-items-end.input-group
        = text_field_tag :postcode, postcode, class: "form-control", placeholder: "Postcode"
        .input-group-append
          %button.btn.btn-secondary
            %i.fa.fa-search

  - matches = Availability.not_owned_by(current_user).in_month(Date.today).grouped_by_date

  - @days.each_with_index do |date, i|

    %h5.mt-4
      %strong.text-uppercase= date.to_s(:long)

    .list-group
      = render partial: "referrals/public_referral", collection: @referrals.on_days(date)

    - if i == 3
      .list-group
        .list-group-item
          .media
            %img.mr-1{ src: "https://placekitten.com/200/139" }
            .media-body
              %h5 Mission details
              %p.lead Ipsum lorem...
    -# - else
    -#   - slots = TimeSlot.where("date_trunc('day', started_at) = ?", date).joins(:availability).where.not(availabilities: { owner: current_user })
    -#   - owners = slots.map(&:owner).uniq
    -#   .avatar-list.mb-1
    -#     - owners.each do |owner|
    -#       = image_tag(avatar_icon_url(owner), title: owner.name, class: "avatar avatar-sm")
    -#   %p #{owners.size} #{"runner".pluralize(owners.size)} have booked a mission slot - get involved!
    -#   .btn.btn-secondary.btn-sm Make it happen

  %p.text-center= link_to "Book a mission", nil, class: "btn btn-secondary btn-lg"
