.container
  = render "header"

.bg-light.py-2
  .container
    - if @referrals_by_day.none?
      %h3 No missions found.
      - if @nearby_referrals.positive?
        %p.lead
          Can you run a little further? There are #{@nearby_referrals} missions available if
          = link_to("you search for missions further away.", { postcode: postcode.to_s, radius: radius * 2 })

    - @referrals_by_day.each do |date, referrals|
      .mb-4
        %h3.mb-2
          %strong.text-uppercase= date.to_s(:wday_long_ordinal)

        .list-group.mb-4
          = render partial: "referrals/public_referral", collection: referrals, locals: { date: date }
