.container
  .title-with-button.mt-2
    %h1 Find a mission

  .mb-4
    %p.lead
      GoodGym missions coming up near you - meet others, get fit and do good.

    - if current_user.alerts.many?
      %ul.nav.nav-tabs.mb-1
        - current_user.alerts.each do |alert|
          %li.nav-item.text-center
            = link_to({ postcode: alert.postcode.to_s, radius: alert.radius }, class: "nav-link #{'active' if alert.postcode == postcode}") do
              Near #{alert.location}

    = form_tag(nil, method: :get) do |f|
      .d-flex.align-items-center
        %div
          = number_field_tag :radius, radius, class: "form-control w-auto", min: 2.0, max: 50.0
        %span.flex-shrink-0.mr-1 &nbsp; km from
        .d-flex.align-items-end.input-group
          = text_field_tag :postcode, postcode, class: "form-control", placeholder: "Postcode"
          .input-group-append
            %button.btn.btn-secondary
              %i.fa.fa-search

.bg-light.py-2
  .container
    - if @referrals_by_day.none?
      %h3 No missions found.
      - if @nearby_referrals.positive?
        %p.lead
          Can you run a little further? There are #{@nearby_referrals} missions available if
          = link_to("you search for missions further away.", { postcode: postcode.to_s, radius: radius * 2 })

    - @referrals_by_day.each do |date, referrals|
      .mb-4
        %h3.mb-2
          %strong.text-uppercase= date.to_s(:wday_long_ordinal)

        .list-group.mb-4
          = render partial: "referrals/public_referral", collection: referrals, locals: { date: date }
