.container
  %h1 New runner

  = simple_form_for(@runner) do |f|
    = f.error_notification
    = f.object.errors.full_messages if f.object.errors.any?

    = f.input :name
    = f.input :postcode_str, required: true
    = f.input :default_radius, required: true

    = render "shared/mission_preferences", form: f

    = f.submit class: "btn btn-primary"
