.runner-preferences
  %label.form-control-label.lead
    Are you comfortable with the following activities?

  = form.simple_fields_for :preferences, OpenStruct.new(form.object.preferences) do |pf|
    = hidden_field_tag :next, params[:next]
    .row.mb-1
      .col-12.col-md-3
        %label.mr-1.d-flex.align-items-start
          .pb-1= pf.check_box :lifting
          .ml-1
            I'm up for heavy lifting
            %small.d-block.text-muted
              Some missions involve lifting heavy objects,
              you might want to opt out of these if you're injured.
      .col-12.col-md-3
        %label.mr-1.d-flex.align-items-start
          .pb-1= pf.check_box :cats
          .ml-1
            I’m up for visiting homes with cats.
            %small.d-block.text-muted
              Some mission beneficiaries have cats -
              if you opt out we won’t send you to missions with cats.
      .col-12.col-md-3
        %label.mr-1.d-flex.align-items-start
          .pb-1= pf.check_box :dogs
          .ml-1
            I’m up for visiting homes with dogs.
            %small.d-block.text-muted
              Some mission beneficiaries have dogs -
              if you opt out we won’t send you to missions with dogs.
      .col-12.col-md-3
        %label.mr-1.d-flex.align-items-start
          .pb-1= pf.check_box :smoking
          .ml-1
            I’m up for visiting smokers' homes.
            %small.d-block.text-muted
              Some mission beneficiaries smoke -
              we'll ask them not to while you're there but you can opt of these if you'd like

  .alert.alert-warning.small.d-none
    %i.fa.fa-info-circle
    Please note that unchecking any of these will reduce your chances of being assigned missions.

:javascript
  $(document).ready(function($) {
    $('.runner-preferences input').on('change', function(e) {
      var checked = $('.runner-preferences input[type=checkbox]')
        .map(function(e) { return this.checked; }); //.makeArray();
      var anyFalse = $.makeArray(checked).includes(false);
      if (anyFalse) {
        $('.runner-preferences .alert.alert-warning').removeClass('d-none');
      } else {
        $('.runner-preferences .alert.alert-warning').addClass('d-none');
      }
    });
  });
