%table.table.table-responsive.table-bordered.border-0{ style: "table-layout: fixed;" }
  %thead.text-center
    %tr
      - dates.each do |date|
        %th.text-center{ style: "width: #{100/dates.size.to_f}%;" }
          %small.d-block.text-uppercase= date.strftime("%b")
          = date.day.ordinalize
  %tbody
    - 4.times do |i|
      %tr
        - dates.each do |date|
          - time = Time.zone.parse("#{date} #{8+(i*3)}:00:00")
          - times = 3.times.map { |j| time+j.hours }
          - end_time = time + 2.hours
          %td.text-center.bg-light
            .collapse.show{ class: "time-#{time.hash}-collapse" }
              %label.d-block.bg-light.text-nowrap.small
                .text-uppercase.d-block.text-muted Starting at
                %span= times.map { |t| t.to_s(:time_of_day) }.to_sentence(last_word_connector: " or ")

              %div= yield times, :block

              %button.btn.btn-sm.btn-link.p-0{"aria-controls" => "multiCollapseExample1 multiCollapseExample2", "aria-expanded" => "false", "data-target" => ".time-#{time.hash}-collapse", "data-toggle" => "collapse", :type => "button"}
                %i.fas.fa-expand-arrows-alt
                Refine

            .collapse.multi-collapse{ class: "time-#{time.hash}-collapse" }
              - 3.times do |j|
                - if j>0
                  %hr
                - subtime = time + j.hours
                %label.d-block
                  %span #{subtime.to_s(:time_of_day)}
                  .mb-1= check_box_tag("times[]", subtime, false)

                  = yield subtime, :time

              %button.btn.btn-sm.btn-link.p-0{"aria-controls" => "multiCollapseExample1 multiCollapseExample2", "aria-expanded" => "false", "data-target" => ".time-#{time.hash}-collapse", "data-toggle" => "collapse", :type => "button"}
                %i.fas.fa-compress
                Collapse
