.container
  %h1 Volunteers available

  .mb-1
    = form_tag(nil, method: :get) do |f|
      .d-flex.align-items-end.input-group
        = text_field_tag :postcode, postcode, class: "form-control", placeholder: "Postcode"
        .input-group-append
          %button.btn.btn-secondary
            %i.fa.fa-search

  :ruby
    data = @available_alerts.geometry
  .leaflet-map--static.w-100.h-100{ data: { geometry: data.to_json }, style: "min-height: 500px;" }

  - if @available_alerts.any?
    #{@available_alerts.runners.size} volunteers available

    .alert-placeholder.pt-2.mt-2
      .container
        %h3 Debug
        = render "shared/weekly_schedule_heat_map", schedule: @available_alerts.joint_schedule

  = render "map_slots", slots: @available_slots if @available_slots.any?
