.container
  %h1 Hello #{current_user.name}

  .card.sm-flush
    .card-header.text-md-center
      %h2.mb-1 Practical tasks for Older People

      %p.lead
        GoodGym runners can help with basic household and garden tasks for people aged over 60.

      %p= link_to "Make a new task request", new_referral_path, class: "btn btn-secondary btn-lg btn-block"

      .text-center.small
        = link_to "View volunteers availabilities' on a map", map_dashboards_referrer_path

    .list-group.list-group-flush.lead
      - @states.each do |state, referrals|
        - next if referrals.count.zero?
        .list-group-item
          = link_to(referrals_path(state: state), class: "d-flex-bc") do
            = state.to_s.titleize
            %div
              -# - if referrals.where("updated_at > ?", 1.hour.ago).any?
              -#   %span.badge.badge-success New
              %span.badge.badge-secondary= referrals.count
