.container
  %h1 Hello #{current_user.name}

  .card.sm-flush
    .card-header.text-md-center
      %h2.mb-1 Practical tasks for Older People

      %p.lead
        GoodGym runners can help with basic household and garden tasks for people aged over 60.

      %p= link_to "Make a new task request", new_referral_path, class: "btn btn-secondary btn-lg btn-block"

      .text-center.small
        = link_to "View volunteers availabilities' on a map", map_dashboards_referrer_path
    .list-group.list-group-flush.lead
      .list-group-item
        = link_to(referrals_path, class: "d-flex-bc") do
          New Referrals
          %span.badge.badge-secondary= current_user.referrals.size
      .list-group-item
        = link_to(todo_path, class: "d-flex-bc") do
          Scheduled
          %span.badge.badge-secondary 0
      .list-group-item
        = link_to(todo_path, class: "d-flex-bc") do
          Cancelled
          %span.badge.badge-secondary 0
      .list-group-item
        = link_to(todo_path, class: "d-flex-bc") do
          Completed
          %span.badge.badge-secondary 0
      .list-group-item
        = link_to(todo_path, class: "d-flex-bc") do
          All
          %span.badge.badge-secondary 0
