.list-group-item.sm-flush
  .row
    .col-12.col-md-8
      %h5.mb-0= public_referral.title
      %p.small.text-muted.text-uppercase
        = public_referral.postcode.location
        - if public_referral.respond_to? :distance
          &mdash; #{public_referral.distance.round(1)}km away

      .mb-1= readmore(public_referral.description)

      %p.text-muted.mb-1
        #{public_referral.coach.public_name} is available at the following times:
      = render "referrals/referral_booking", referral: public_referral, date: date

    .col-12.col-md-4
      = referral_map(public_referral)
