.list-group-item.d-flex.justify-content-between
  .row
    .col-12.col-md-8
      %h5= public_referral.title

      -# .d-flex.mb-1.align-items-center
      -#   .lead.mr-1
      -#     %span.badge.badge-warning Referral: Pending
      -#   %small
      -#     This referral is waiting until 2 runners have booked a start time

      %p= public_referral.description

      %p #{public_referral.coach.public_name} is available:
      %dl.row.mb-0
        - public_referral.time_slots.each do |time_slot|
          %dt.col-6= time_slot.started_at.to_s(:short)
          %dd.col-6
            = link_to "Sign up", todo_path, class: "button btn btn-secondary"
    .col-12.col-md-4
      %small= public_referral.postcode.location

      :ruby
        data = {
          point: public_referral.postcode.public_point.to_a,
          bounds: public_referral.postcode.public_bounds.to_a
        }
      .leaflet-map--static.w-100.h-75{ data: data, style: "min-height: 150px;" }
