%table.table.table-striped.table-sm.mb-0
  %tbody
    :ruby
      completable_time_slots = time_slots
        .map { |time_slot| time_slot.reservations.map(&:runner).uniq.size }
        .select { |n| n + 1 >= referral.volunteers_needed }
      radio = completable_time_slots.size == time_slots.size

    - time_slots.each do |time_slot, i|
      - runners = time_slot.reservations.map(&:runner).uniq
      %tr
        %td
          %strong= time_slot.started_at.to_s(:time_of_day)
        %td
          %label.w-100{ for: "reservation_time_slots_#{time_slot.id}" }
            %small #{runners.size} #{"runner".pluralize(runners.size)} signed up
            = render "shared/avatars_list", avatars: runners, class: "justify-content-start mb-1"
        %td
          - if reservation&.time_slots&.include? time_slot
            %span.badge.badge-success Booked
          - elsif picker
            - if local_assigns[:radio] || radio
              .form-check
                %label.w-100.h-100
                  - checked = reservation && reservation.time_slots.include?(time_slot)
                  = radio_button_tag "reservation[time_slot_ids][]", time_slot.id, checked,
                    class: "form-control", id: "reservation_time_slots_#{time_slot.id}"
            - elsif local_assigns[:checkbox] || time_slots.many?
              .form-check
                %label.w-100.h-100
                  - checked = reservation && reservation.time_slots.include?(time_slot)
                  = check_box_tag "reservation[time_slot_ids][]", time_slot.id, checked,
                    class: "form-control", id: "reservation_time_slots_#{time_slot.id}"
            - else
              = hidden_field_tag "reservation[time_slot_ids][]", time_slot.id

  - if local_assigns[:other_dates]
    %tfoot
      %td.small.text-uppercase{ colspan: 3 }
        Also available on
        %ul.list-unstyled.text-muted.mb-0
          - other_dates.each do |other_date|
            %li
              = other_date.to_s(:wday_long_ordinal)
              - if reservation && reservation.time_slots.map(&:date).include?(other_date)
                %span.badge.badge-success Booked
