- reservation = current_user.reservations.find_by(referral: referral)
- time_slots = referral.time_slots.select { |t| t.date == date }

= simple_form_for(current_user.reservations.new(referral: referral), url: new_reservation_path, method: :get) do |f|
  = hidden_field_tag "date", date
  = f.association :referral, as: :hidden

  - if local_assigns[:date]
    %p.text-muted.mb-1
      #{referral.coach.public_name} is available at the following times:

    .mb-1
      = render "referrals/referral_booking_table",
        reservation: reservation, time_slots: time_slots, other_dates: referral.dates - [date],
        picker: local_assigns[:picker], referral: referral
  - else
    %ul.list-unstyled.small.text-uppercase.text-muted
      - referral.dates.each do |date|
        %li
          = date.to_s(:wday_long_ordinal)
          - if reservation && reservation.dates.include?(date)
            %span.badge.badge-success Booked

  - if reservation.present?
    = link_to reservation_path(reservation), class: "btn btn-success btn-sm btn-block" do
      Booking details
  - else
    = f.submit("Signup", class: "btn btn-info btn-lg btn-block")

  - if referral.confirmation_by.present?
    .text-center
      %small.text-danger.uppercase
        %strong= distance_of_time_in_words(referral.confirmation_by - Time.now)
        left to sign up
