%p.lead.mb-0
  At what time is the older person available to meet the volunteers?
%p.small.text-muted
  Note: you can choose multiple time slots.

= simple_form_for(@referral, url: new_referral_path, method: "get") do |f|
  = f.error_notification
  = f.input :postcode_str, as: :hidden
  = f.input :urgent, as: :hidden

  - matches = Availability::Match.near(@referral.postcode, Availability.on_days(@dates)).group_by(&:started_at)

  .text-center
    %table.table.table-responsive
      %thead
        %tr
          - @dates.each do |date|
            %th.text-center{ style: "width: #{100/@dates.size.to_f}%;" }
              %small.d-block.text-uppercase= date.strftime("%b")
              = date.day.ordinalize
      %tbody
        - 12.times do |i|
          %tr
            - @dates.each do |date|
              - time = Time.zone.parse("#{date} #{8+i}:00:00")
              %td{ style: "width: #{100/@dates.size.to_f}%;" }
                %label
                  #{8 + i}:00
                  %br
                  .mb-1= check_box_tag("times[]", time, false)

                  - if matches[time].present?
                    - matches[time].each do |match|
                      = render "shared/avatars_list", avatars: match.runners

  %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"
