.container
  .row
    .col-12.col-md-6.mb-2
      %h3 #{@result.runners.size} volunteers available

      = simple_form_for(@referral, url: new_referral_path, method: "get") do |f|
        = f.input :postcode_str, as: :hidden
        = f.input :duration, as: :hidden
        = f.input :volunteers_needed, as: :hidden

        = f.simple_fields_for :preferences, OpenStruct.new(f.object.preferences) do |pf|
          = pf.input :lifting, as: :hidden
          = pf.input :cats, as: :hidden
          = pf.input :dogs, as: :hidden

        - if @result.best_times.any?
          %p.lead
            They are generally available at the following times:
        - else
          = hidden_field_tag "when", true
          %p.lead
            They are generally available:
            %ul
              - @result.summarise.each do |summary|
                %li= summary

        %button.btn.btn-secondary.btn-lg.btn-block
          Choose times

    .col-12.col-md-6
      .leaflet-map--static.w-100.h-100{ data: { geometry: @result.geometry.to_json }, style: "min-height: 150px;" }
