%p.lead.mb-0
  At what time is the older person available to meet the volunteers?
%p.small.text-muted
  Note: you can choose multiple time slots.

= simple_form_for(@referral, url: new_referral_path, method: "get") do |f|
  = f.error_notification
  = f.input :postcode_str, as: :hidden
  = f.input :urgent, as: :hidden

  - matches = Availability.not_owned_by(current_user).on_days(@dates).grouped_by_time
  - owner_matches = Availability.owned_by(current_user).on_days(@dates).grouped_by_time

  .text-center
    %table.table.table-responsive
      %thead
        %tr
          - @dates.each do |date|
            %th.text-center{ style: "width: #{100/@dates.size.to_f}%;" }
              %small.d-block.text-uppercase= date.strftime("%b")
              = date.day.ordinalize
      %tbody
        - 12.times do |i|
          %tr
            - @dates.each do |date|
              - time = Time.zone.parse("#{date} #{8+i}:00:00")
              %td{ style: "width: #{100/@dates.size.to_f}%;", class: owner_matches[time].present? ? "bg-white" : "bg-light" }
                - if owner_matches[time].present?
                  = time.to_s(:time_of_day)
                  %p.mb-1
                    %i.fa.fa-check.text-success.lead
                  .avatar-list.justify-content-center
                    = image_tag(avatar_icon_url(current_user), title: current_user.name, class: "avatar avatar-sm")
                  %small.text-success
                    You've booked this slot.

                - else
                  %label
                    #{8 + i}:00
                    %br
                    .mb-1= check_box_tag("times[]", time, false)

                    - if matches[time].present?
                      - slots = TimeSlot.where(started_at: time).joins(:referral).where.not(availabilities: { owner: current_user })
                      = render "slots_with_owners", slots: slots

  %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"
