.container
  %p.lead.mb-0
    At what time is the older person available to meet the volunteers?
  %p.small.text-muted
    You will improve the chances of the task being completed if you pick multiple times

  = simple_form_for(@referral, url: new_referral_path, method: "get") do |f|
    = f.error_notification
    = f.input :postcode_str, as: :hidden
    = f.input :urgent, as: :hidden

    - matches_by_time = @matches.group_by(&:started_at)

    = render_time_picker(dates: @dates) do |slot, slot_type|
      - if slot_type == :block

        - runners = slot.map { |t| matches_by_time[t]&.map(&:runners) }.flatten.uniq.compact
        - if runners.any?
          = render "shared/avatars_list", avatars: runners
      - else
        - if matches_by_time[slot].present?
          - runners = matches_by_time[slot].map(&:runners).flatten.uniq.compact
          = render "shared/avatars_list", avatars: runners


    %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"
