.container
  %h2 When is the older person available?

  = simple_form_for(@referral, url: new_referral_path, method: "get") do |f|
    = f.error_notification
    = f.input :duration, as: :hidden
    = f.input :volunteers_needed, as: :hidden
    = f.input :postcode_str, as: :hidden
    = f.simple_fields_for :preferences, OpenStruct.new(f.object.preferences) do |pf|
      = pf.input :lifting, as: :hidden
      = pf.input :cats, as: :hidden
      = pf.input :dogs, as: :hidden

      = render "shared/weekly_calendar", result: @result

      = f.submit "Continue", class: "btn btn-secondary btn-lg btn-block"
