.container
  %h1 My referrals

  = render "referrals/nav", states: @states, current_state: @state, hide_empty: false

  - if @referrals.any?
    .list-group
      - @referrals.each do |referral|
        .list-group-item
          .d-flex.small.justify-content-between.mb-2
            %div
              Beneficiary
              %span.text-muted= referral.coach.name
            %span= referral.postcode
            %div
              Referred on
              %span.text-muted= referral.created_at.to_s(:short)

          %ul.list-unstyled.small.text-muted.text-uppercase
            %li
              = referral.postcode.location
              - if referral.respond_to? :distance
                &mdash; #{referral.distance.round(1)}km away
            %li
              #{referral.volunteers_needed} runners needed for #{referral.duration} mins

          = referral_status(referral, class: "w-100")

          - if referral.time_slots.any?
            %dl.mb-0
              %dt
                Scheduled for
              %dd
                %ul.list-unstyled.small.mb-0
                  - referral.time_slots.each do |time_slot|
                    %li.border
                      = time_slot.started_at.to_s(:short)
                      = render "shared/avatars_list", avatars: time_slot.reservations.map(&:runner)
  - else
    .text-center.mt-2
      %p.lead No referrals
