.container
  %h2 Mission Alerts
  %p.lead
    You are setup to receive mission alerts for the following locations.

  .list-group.mb-2
    - @alerts.each do |alert|
      .list-group-item.d-flex-bc.mission-on-call{ class: alert.enabled? ? "mission-on-call--enabled" : "mission-on-call--disabled" }
        %div
          = alert.location
          .text-muted.small.d-block #{alert.radius}km from #{alert.postcode}
          .form-check.checkbox-slider--default
            %label
              %input{ type: "checkbox", checked: alert.enabled? }
              %span.checkbox-slider__label
                %span.badge.badge-success Enabled
        %div
          = link_to(edit_alert_path(alert), class: "btn btn-secondary btn-sm btn-block mb-1") do
            %i.fa.fa-edit
            Edit
          = button_to(alert_path(alert), method: :delete, class: "btn btn-secondary btn-sm btn-block") do
            %i.fa.fa-trash
            Delete

  = link_to(new_alert_path, class: "btn btn-secondary btn-block") do
    %i.fa.fa-plus
    New alert location
