.container
  .text-center
    %h1= LanguageGenerator.exclamation(@reservation.id)

    %p.lead
      You've signed up to do the mission on:

    %ul.list-unstyled.text-muted.text-uppercase.text-center
      - @reservation.reservation_time_slots.group_by(&:date).map do |date, slots|
        %li
          = date.to_s(:wday_long_ordinal)
          &mdash;
          = slots.map { |ts| ts.started_at.to_s(:time_of_day) }.to_sentence

    .mb-3
      = link_to referral_share_path(@reservation.referral), class: "btn btn-info btn-block" do
        Share with friends
      = link_to "Back to listings", listings_path, class: "btn btn-link btn-block"

    %p.small Changed your mind?
    .row.mb-2
      .col
        = link_to todo_path, class: "btn btn-secondary btn-sm btn-block" do
          %i.fa.fa-edit
          Edit
      .col
        = button_to reservation_path(@reservation), method: :delete, class: "btn btn-secondary btn-sm btn-block" do
          %i.fa.fa-trash
          Cancel

  = render "referrals/summary", referral: @reservation.referral
