.container
  .d-flex.justify-content-between.align-items-center.mb-1
    %strong.text-uppercase
      Find a Mission
    = link_to(listings_path, class: "small text-uppercase") do
      %i.fa.fa-search
      Search

  %p.lead
    -# There are #{10} missions coming up near you.
    = link_to "Find a mission", listings_path
    near you.

%hr
.container
  .d-flex.justify-content-between.align-items-center.mb-1
    %strong.text-uppercase
      Mission Alerts
    = link_to(alerts_path, class: "small text-uppercase") do
      %i.fa.fa-cog
      Manage
  %p
    You are signed up to hear about missions near your
    #{sentence_of_alerts(current_user.alerts.enabled)}.
