.list-group-item
  .row
    .col-12.col-md-9
      .lead= availability_status(availability)
      %p= availability_time_slot_status_description(availability)

      .small.text-muted.mb-1
        %span.d-block Running #{availability.radius}km from #{availability.postcode}
        %span Booked #{availability.created_at.to_s(:short)}

      %dl.small.mt-1.mb-0.row
        - availability.time_slots.order(:started_at).each do |time_slot|
          .col-6
            %dt= time_slot.started_at.to_s(:short)
            %dd
              - if time_slot.nearby_runner_slots.any?
                .d-block
                  = time_slot.nearby_runner_slots.size
                  #{ "runner".pluralize time_slot.nearby_runner_slots.size } available

              - if time_slot.nearby_referrals.any?
                .d-block
                  #{time_slot.nearby_referrals.size} older
                  #{ "person".pluralize time_slot.nearby_referrals.size } available

    .col-12.col-md-3.d-flex.flex-row.flex-md-column
      = link_to(todo_path, class: "btn btn-secondary btn-sm btn-block") do
        %i.fa.fa-edit
        Edit
      .ml-1.ml-md-0.mt-0.mt-md-1.w-100
        = button_to(availability_path(availability), method: :delete, class: "btn btn-secondary btn-sm btn-block") do
          %i.fa.fa-trash
          Cancel
