%h3 Your selected mission start times

= simple_form_for(@availability) do |f|
  = f.error_notification
  = f.input :postcode_str, as: :hidden
  = f.input :radius, as: :hidden

  .list-group.mb-2
    = render partial: "availabilities/availability",
      collection: [@availability], locals: { form: f }
  %p= f.submit "Confirm", class: "btn btn-primary btn-lg btn-block"
