- calendar = Calendar.new
- matches = Availability.not_owned_by(current_user).in_month(calendar.date).grouped_by_date
- owner_matches = Availability.owned_by(current_user).in_month(calendar.date).grouped_by_date
- referrals = Referral.in_month(calendar.date).grouped_by_date

.container
  .d-flex.justify-content-between.align-items-start
    .lead
      %strong.d-block Pick dates for your mission
      %span.d-none.d-md-inline You can pick multiple days if you'd like.
    = link_to "#help", class: "btn btn-warning btn-sm", title: "Help" do
      %i.fa.fa-question-circle
      %span.d-none.d-sm-inline Help

  = simple_form_for(@availability, url: new_availability_path, method: "get") do |f|
    = f.error_notification
    = f.input :postcode_str, as: :hidden
    = f.input :radius, as: :hidden

    .mb-2.sm-flush
      = render_calendar(calendar: calendar, matches: matches) do |day|
        - if day.month == calendar.date.month
          %label.text-center.mb-0{ class: day.past? ? "text-muted" : "" }
            %span{ class: day == Date.today ? "calendar__date--today" : "" }
              = day.day

            .mb-0.text-center
              - if day.past?
              - elsif (day - 3).past?
                = link_to todo_path, class: "btn btn-link" do
                  %i.far.fa-clock
              - else
                .mx-auto= check_box_tag("dates[]", day, false, disabled: day.past?)
                - if referrals[day].present?
                  %span.badge.badge-success
                    %i.fa.fa-user
                    = referrals[day]
                - if matches[day].present?
                  %span.badge.badge-info
                    %i.fa.fa-walking
                    = matches[day]
                - elsif owner_matches[day].present?
                  %span.badge.badge-success
                    %i.fa.fa-thumbs-up
                    = owner_matches[day]
                - else
                  %span &nbsp;
        - else
          .text-muted= day.day

    %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"

%hr
.container#help
  = render "availabilities/stage_date/help", matches: matches, owner_matches: owner_matches
