.container
  .d-flex.justify-content-between.align-items-start
    .lead
      %strong.d-block Pick start times for your mission
      %span.d-none.d-md-inline You can select as many as you'd like.

  = simple_form_for(@availability, url: new_availability_path, method: "get") do |f|
    = f.error_notification
    = f.input :postcode_str, as: :hidden
    = f.input :radius, as: :hidden

    %table.table.table-responsive.table-bordered.border-0{ style: "table-layout: fixed;" }
      %thead.text-center
        - on_call_vs_bookings = @dates.group_by { |date| (date - 3).past? }
        - if on_call_vs_bookings.has_key?(true)
          %tr
            - on_call_vs_bookings.each do |on_call, days|
              - if on_call
                %th.alert.alert-warning.align-top{ colspan: days.size }
                  %i.fa.fa-clock
                  %span On Call
                  %p.small.mb-0.strikethrough
                    We'll send you alerts about emergency missions
              - else
                %th.alert.alert-success.align-top{ colspan: days.size }
                  %i.far.fa-calendar-check
                  %span Booking
                  %p.small.mb-0
                    We'll try to book you a mission with our referrers
        %tr
          - @dates.each do |date|
            %th.text-center{ style: "width: #{100/@dates.size.to_f}%;" }
              %small.d-block.text-uppercase= date.strftime("%b")
              = date.day.ordinalize
      %tbody
        = render "availabilities/stage_time/quarters"
        -# = render "availabilities/stage_time/hour_blocks"
        -# = render "availabilities/stage_time/full_hours"

    %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"
