= simple_form_for(@availability, url: new_availability_path, method: "get") do |f|
  = f.error_notification
  = f.input :postcode_str, as: :hidden
  = f.input :radius, as: :hidden

  - matches = Availability.not_owned_by(current_user).on_days(@dates).grouped_by_time
  - owner_matches = Availability.owned_by(current_user).on_days(@dates).grouped_by_time
  - referrals = Referral.on_days(@dates).grouped_by_time

  %h3 When do you want to do your mission to start?
  %p.lead
    These are mission start times - you can select as many as you'd like.

  .text-center
    %table.table.table-responsive.table-bordered
      %thead
        %tr
          - @dates.each do |date|
            - if (date - 3).past?
              %th.alert.alert-warning
                %i.fa.fa-clock
                %span On Call
                %p.small.mb-0.strikethrough
                  We will send you missions if and when we hear about them
            - else
              %th.alert.alert-success
                %i.far.fa-calendar-check
                %span Booking
                %p.small.mb-0
                  We will try our best to find you a mission with our referrers
        %tr
          - @dates.each do |date|
            %th.text-center{ style: "width: #{100/@dates.size.to_f}%;" }
              %small.d-block.text-uppercase= date.strftime("%b")
              = date.day.ordinalize

      %tbody
        - 12.times do |i|
          %tr
            - @dates.each do |date|
              - time = Time.zone.parse("#{date} #{8+i}:00:00")
              %td{ class: owner_matches[time].present? ? "bg-white" : "bg-light" }
                - if owner_matches[time].present?
                  = time.to_s(:time_of_day)
                  %p.mb-1
                    %i.fa.fa-check.text-success.lead
                  .avatar-list.justify-content-center
                    = image_tag(avatar_icon_url(current_user), title: current_user.name, class: "avatar avatar-sm")
                  %small.text-success
                    You've booked this slot.
                - else
                  %label
                    #{8 + i}:00
                    %br
                    .mb-1= check_box_tag("times[]", time, false)

                    - if matches[time].present?
                      - runners = Availability.joins(:time_slots).where(time_slots: { started_at: time }).where.not(runner: current_user).map(&:runner).uniq
                      = render "shared/avatars_list", avatars: runners

                  - if referrals[time].present?
                    %span.badge.badge-success.d-block
                      %i.fa.fa-user
                      = referrals[time]

  %p= f.submit "Next step", class: "btn btn-secondary btn-block btn-lg"
