!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/

    %title GoodgymMissions
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.mb-1{ class: current_user.is_a?(Referrer) ? "bg-dark navbar-dark" : "bg-light navbar-light" }
      = link_to "Home", root_path, class: "navbar-brand"

      - if current_user
        .dropdown
          %button#dropdownMenuButton.btn.btn-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = image_tag(avatar_icon_url(current_user), title: current_user.name, width: 30, height: 30, class: "avatar")
            = current_user.name
          .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
            = button_to "Signout", sessions_path, method: :delete, class: "dropdown-item btn btn-link"
      - else
        = link_to "Login", root_path
    = yield

    %footer.footer.bg-light.py-1.mt-4
      .container.small.d-flex.justify-content-between
        %p.mb-0
          This is a prototype for #{link_to("GoodGym", "https://www.goodgym.org")}.
        %p.mb-0
          %a{ href: %[javascript:void((function(d){if(self!=top||d.getElementById('toolbar')&&d.getElementById('toolbar').getAttribute('data-resizer'))return false;d.write('<!DOCTYPE HTML><html style="opacity:0;"><head><meta charset="utf-8"/></head><body><a data-viewport="240x240" data-icon="handy">Mobile</a><a data-viewport="320x480" class="active" data-icon="mobile">Mobile (e.g. Apple iPhone)</a><a data-viewport="320x568" data-icon="mobile" data-version="5">Apple iPhone 5</a><a data-viewport="375%C3%97667" data-icon="mobile" data-version="7">Apple iPhone 7</a><a data-viewport="414%C3%97736" data-icon="mobile" data-version="7+">Apple iPhone 7 Plus</a><a data-viewport="600x800" data-icon="small-tablet">Small Tablet</a><a data-viewport="768x1024" data-icon="tablet">Tablet (e.g. Apple iPad 2-3rd, mini)</a><a data-viewport="1024x1366" data-icon="tablet">Apple iPad Pro</a><a data-viewport="1024x768" data-icon="display" data-version="17%E2%80%B3">17%E2%80%B3 Display</a><a data-viewport="1280x800" data-icon="notebook">Widescreen</a><a data-viewport="2560x1600" data-icon="display" data-version="30%E2%80%B3">30%E2%80%B3 Apple Cinema Display</a><script src="https://lab.maltewassermann.com/viewport-resizer/resizer.min.js"></script></body></html>')})(document));] }
            Mobile
            %i.fa.fa-mobile
